{% extends 'infrastruction/base.html' %}
{% load static %}

{% block title %}Удаление элемента проекта - Инфраструктура{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-exclamation-triangle text-danger me-1"></i>
                    Удаление элемента проекта
                </div>
                <div class="card-body">
                    <div class="alert alert-danger mb-4">
                        <h5 class="alert-heading"><i class="fas fa-exclamation-circle me-2"></i>Внимание!</h5>
                        <p>Вы собираетесь удалить элемент проекта. Эта операция не может быть отменена.</p>
                    </div>
                    
                    <h5 class="mb-3">Информация о элементе проекта:</h5>
                    <dl class="row">
                        <dt class="col-sm-3">Проект:</dt>
                        <dd class="col-sm-9">{{ item.project.name }}</dd>
                        
                        <dt class="col-sm-3">Название элемента:</dt>
                        <dd class="col-sm-9">{{ item.name }}</dd>
                        
                        <dt class="col-sm-3">Количество:</dt>
                        <dd class="col-sm-9">{{ item.quantity }}</dd>
                        
                        <dt class="col-sm-3">Цена за единицу:</dt>
                        <dd class="col-sm-9">{{ item.unit_price }} SUM</dd>
                        
                        <dt class="col-sm-3">Общая стоимость:</dt>
                        <dd class="col-sm-9">{{ item.total_price }} SUM</dd>
                        
                        {% if item.photo %}
                        <dt class="col-sm-3">Фото:</dt>
                        <dd class="col-sm-9">
                            <a href="{{ item.photo.url }}" target="_blank">
                                <img src="{{ item.photo.url }}" alt="{{ item.name }}" class="img-thumbnail" style="max-height: 100px;">
                            </a>
                        </dd>
                        {% endif %}
                    </dl>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="text-center mt-4">
                            <a href="{% url 'infrastruction:project_detail' item.project.id %}" class="btn btn-secondary me-2">
                                <i class="fas fa-times me-1"></i> Отмена
                            </a>
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash me-1"></i> Подтвердить удаление
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 