{% extends 'warehouse/base.html' %}

{% block content %}
<h2 class="mt-3 animate__animated animate__fadeInDown">Yangi Mahsulot Qo'shish</h2>
<div class="card animate__animated animate__fadeInUp">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_code">Kod:</label>
                {{ form.code }}
            </div>
            
            <div class="form-group">
                <label for="id_name">Mahsulot nomi:</label>
                {{ form.name }}
            </div>
            
            <div class="form-group">
                <label for="id_category">Kategoriya:</label>
                {{ form.category }}
            </div>
            
            <div class="form-group">
                <label for="id_description">Tavsif:</label>
                {{ form.description }}
            </div>
            
            <button type="submit" class="btn btn-success">Saqlash</button>
            <a href="{% url 'warehouse:product_list' %}" class="btn btn-secondary">Bekor qilish</a>
        </form>
    </div>
</div>
{% endblock content %}
