{% extends 'warehouse/base.html' %}

{% block content %}
<h2 class="mt-3 animate__animated animate__fadeInDown">Yangi Rezervuar Harakati</h2>
<div class="card animate__animated animate__fadeInUp">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Saqlash</button>
            <a href="{% url 'warehouse:reservoir_movement_list' %}" class="btn btn-secondary">Bekor qilish</a>
        </form>
    </div>
</div>
{% endblock content %}
